<div class="background-color-fore panel-heading" ​>
  សេវាកម្មសាធារណៈ
</div>
<br>
<p class="text-center" style="font-family: 'khmer muol'; font-size: 20px; " > <%= "មន្ត្រីទំនាក់ទំនងប្រចាំអគ្គនាយកដ្ឋានលទ្ធកម្ម" %> </p>

<p class="text-center"  > <%= "សេចក្តីបរយាយលម្អិតនៃសេវាសាធារណៈ" %> </p>
<hr>
<br>


<%    
  $i = 0
  $n = 8
  while $i < $n do
%>
    <div class="row" >
      <div class="col-md-12 color-hover cursor-pointer "  >
      <div style="border-bottom: 1px solid #bbb; margin-bottom: 10px ;" >
        <p><b> <%= "ឈ្មោះអ្នកទទួលមុខងា តូនាទី : " %> </b> <%= "តួនាទីនៃមុខដំណែង" %> </p>
        <p> <%= "ទូរស័ព្ទ : " %>  <%= "098 876 543" %>  <%= "Email : " %> <%= "email-mef@mef.com.kh" %> </p>
      </div>
      </div>
    </div>
<% 
  $i += 1
  end 
%>
<div class="row" >
  <div class="col-md-12" >
    <div class="panel panel-default ">
      <p class="text-center panel-heading color-fore  " > <%= "សេចក្តីលម្អិតនៃសេវាផ្សេងៗ" %>  </p>

      <div class="panel-body" >
        បរិយាយ
      </div>
    </div>
  </div>
</div>
