<div class="background-color-fore panel-heading" ​>
  សេវាកម្មសាធារណៈ
</div>
<br>
<p class="text-center" style="font-family: 'khmer muol'; font-size: 20px; " > <%= "សេវាសាធារណៈ" %> </p>

<hr>
<br>


<%    
  $i = 0
  $n = 1
  while $i < $n do
%>
    <div class="row" >
      <div class="col-md-12 color-hover cursor-pointer "  >
      <div style="border-bottom: 1px solid #bbb; margin-bottom: 10px ;" >
        <p><b> <%= "ឈ្មោះអ្នកទទួលមុខងា តូនាទី : " %> </b> <%= "តួនាទីនៃមុខដំណែង" %> </p>
        <p>
          <%= "ទូរស័ព្ទ : " %>  <%= "098 876 543" %><br>
          <%= "Email : " %> <%= "email-mef@mef.com.kh" %> 
        </p>
      </div>
      </div>
    </div>
<% 
  $i += 1
  end 
%>
<p style="text-align:center ">
<%= link_to 'ទាញយកឯកសា', '' %>
</p>
