<div class="panel panel-default" >
  <div class="panel-heading" >
    គ្រប់គ្រងសេចក្តីប្រកាស់
  </div>
  <div class="panel-body" >
  
        <div class="table-responsive">
          <table  class="table table-bordered table-striped" >
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <!-- <th>Entity</th>
                <th>Exp Date</th>
                <th>Budget Source</th> -->
                <th>Attachment</th>
                <th>Bidding Attachment</th>
                <th>Action  </th>
                <!-- <th colspan="3"></th> -->
              </tr>
            </thead>

            <tbody>
              <% @admin_announcements.each do |announcement| %>
                <tr>
                  <td><%= announcement.title %></td>
                  <td><%= announcement.description %></td>
                 <!--  <td><%= announcement.entity %></td>
                  <td><%= announcement.bidding_expired_date %></td>
                  <td><%= announcement.budget_source %></td> -->
                  <td>
                    <% if announcement.attachment? %>
                      <%= link_to announcement.attachment_file_name, announcement.attachment.url, target: '_blank' %>
                    <% else %>
                      No attached file(s)
                    <% end %>
                  </td>
                   <td>
                   <% if announcement.attachment? %>
                     <%= link_to announcement.bidding_attachment_file_name, announcement.bidding_attachment.url, target: '_blank' %>
                    <% else %>
                      No attached file(s)
                    <% end %>
                   </td>
                  <td >
                  <div style="width: 50px ;">
                    <%= link_to '', admin_announcement_path(announcement), class: 'fa fa-folder-open', title: 'Show' %>
                    <%= link_to '', edit_admin_announcement_path(announcement), class: 'fa fa-edit', title: 'Edit'  %>
                    <%= link_to '', admin_announcement_path(announcement), method: :delete, data: { confirm: 'Are you sure?' } , class: 'fa  fa-remove color-danger ', title: 'Delete' %>
                  </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <br>

        <%= link_to 'បន្ថែមសេចក្តីប្រកាស់ថ្មី', new_admin_announcement_path , class: 'btn btn-primary background-color-fore' %>
  </div>

</div>
