<!DOCTYPE html>
<html>
<head>
  <title>Mefsite Admin Layout </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/favicon.ico" title="Favicon" />
</head>
<body style="background:white !important" >
<!-- <h1> Admin layout page </h1> <br> -->
<!-- <hr> -->

<div class="col-md-12">
	<%= render partial: 'admin_header' %>
	<div class="row">
		<div class="col-md-12 " >
		<div class="col-md-8 col-md-offset-2" style="padding: 0px !important; margin-top: 50px; ">
			<%= yield %>		
		</div>
		
		</div>
	</div>
	<br><br>
</div>
	<%= render partial: 'admin_footer' %>

</body>

</html>